.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;

  // background-color: red;
  .nav {
    height: 100%;
    // width: 60%;
    // background-color: #0056B3;
    justify-content: space-between;
    padding: 5px;
    width: 75%;
    display: flex;
    align-items: center;

    .nav-left {
      display: flex;
      // width: 300px;
      justify-content: flex-start;
      align-items: center;

      // padding-right: 3rem;
      // margin-right: 1rem;
      // background-color: #0056B3;
      .navLogo {
        width: 53px;
        height: 53px;
      }

      .navLogoText {
        font-size: 22px;
      }
    }

    .nav-right {
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: #000;
      padding-right: 2rem;
      gap: 3rem;
      width: 430px;

      a {
        text-decoration: none;
        color: #000;
      }

      #loginButtton {
        color: #fff;
      }

      .loginbtn {
        width: 110px;
        height: 40px;
        border-radius: 12px;
        background-color: blue;
        color: white;
        border: none;
      }
    }
  }
}