.footer {
  background: #ffffff;
  // background-color: #0056B3;

  font-family: 'Inter', sans-serif;
  color: #6b7280;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background-color: #000;
  //   width: 1200px;
  //   background-color: #000;
  margin: auto;
  gap: 40px;
  height: 180px;

}


.footer-brand {
  max-width: 360px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 14px;
}

.logo-icon {
  width: 20px;
  height: 20px;
  background: #2563eb;
  border-radius: 6px;
}

.logo-text {
  font-size: 20px;
  font-weight: 600;
  color: #111827;
}

.footer-brand p {
  font-size: 14px;
  line-height: 1.6;
}


.footer-links {
  display: flex;
  // background-color: red;
  gap: 80px;
}

.footer-column h4 {
  font-size: 14px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 12px;
}

.footer-column a {
  display: block;
  font-size: 14px;
  color: #6b7280;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-column a:hover {
  color: #2563eb;
}


.footer-divider {
  margin: 40px auto 20px;
  border: none;
  border-top: 1px solid #e5e7eb;
  max-width: 1200px;
}


.footer-bottom {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.social-icons a {
  margin-left: 16px;
  text-decoration: none;
  font-size: 16px;
  color: #6b7280;
}

.social-icons a:hover {
  color: #2563eb;
}