.body{
    width: 100vw;
    background-color: rgb(12, 75, 131);
  
}

.maindiv{
    display: flex;
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.right{
    width: 25%;
    height:530px;
    /* background-color: rgb(68, 145, 145); */
  border: 2px solid #cedcf9;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    /* align-items: center; */
    justify-content: flex-start;
    padding: 2rem;
}
.heading{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.welcomeMsg{
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.3;
    .welcome{
        font-size: 38px;
        font-weight: 400;
    }
}
.ipbox{
    width: 370px;
    height: 30px;
    border-radius: 10px;
    padding: 0.5rem;
  border: 2px solid #cedcf9;
}
.rembemberme{
    display: flex;
    /* gap: 9rem; */
    /* background-color: #cedcf9; */
    width: 96%;
    justify-content: space-between;
    .sptext{
        color: #0535f4;
    }
}
.continue{
    text-align: center;
}
.sinupNavihationText{
    display: flex;
    justify-content: center;
}
.signUpText{
    color:#0535f4;
    text-decoration: none;
}
.loginbtn{
    width: 380px;
    height: 40px;
    background-color:#0535f4;
    border: none;
    color: white;
    border-radius: 10px;
}
.loginform{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.media{
    display: flex;
    gap: 1rem;
    /* background-color: red; */
    width: 90%;
    margin-top: 0.6rem;
    justify-content: center;
    
}
.mediabtn{
    width: 140px;
    height: 40px;
     display: flex;
     border: 1px solid black;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
   
}
.ipbox.error {
  border-color: red;
}


.ipbox.success {
  border-color: #4A90E2;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

